/*
@NOTE: Стили украдены из https://www.telerik.com/kendo-angular-ui/npm/node_modules/@progress/kendo-theme-default/dist/all.css
       путем форматирования файла и следующего селектора:
       [^\n]*([,\n].(k-action-buttons|k-animation-container|k-animation-container-shown|k-bare|k-button|k-content|k-empty|k-group|k-item|k-link|k-popup|k-primary|k-reset|k-scrollable|k-scrollable-placeholder|k-state-focused|k-state-selected|k-title|k-today|k-weekend|k-widget|k-calendar|k-time|k-dateinput|k-header|k-input|k-picker-wrap|k-state-default|k-timepicker|k-widget|k-select)[ \[,:.]|.(k-calendar-|k-time-|k-dateinput-))[^{]*{\s*[^}]*}
*/

.k-button[disabled],.k-button[disabled]:focus,.k-button.k-state-focused[disabled],[disabled] .k-button,[disabled] .k-button:focus,[disabled] .k-button.k-state-focused,.k-button.k-state-disabled,.k-button.k-state-disabled:focus,.k-button.k-state-disabled.k-state-focused {
  outline: none;
  cursor: default;
  opacity: .6;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  pointer-events: none;
  box-shadow: none
}

.k-widget,.k-block,.k-panel {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff
}

.k-content,.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper,.k-flatcolorpicker,.k-editor,.k-scheduler-agendaview tr.k-state-hover .k-scheduler-datecolumn,.k-scheduler-agendaview tr:hover .k-scheduler-datecolumn,.k-scheduler-agendaview tr:hover .k-scheduler-groupcolumn,.k-notification {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff
}

.k-popup,.k-column-menu .k-menu:not(.k-context-menu),.k-menu-group,.k-menu.k-context-menu {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f9f9f9
}
.k-spreadsheet-top-corner,.k-spreadsheet-row-header,.k-spreadsheet-column-header,.k-time-list-wrapper .k-title,.editorToolbarWindow.k-header.k-window-content,.k-treemap .k-treemap-title,.k-gantt-toolbar,.k-scheduler-toolbar,.k-scheduler-footer,.k-block>.k-header,.k-panel>.k-header {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6
}
.k-list-container .k-nodata .k-button,.k-button,.k-button-group.k-state-disabled .k-button:not(.k-state-active),.k-button-group .k-state-disabled:not(.k-state-active),.k-toolbar .k-split-button .k-button,.k-spreadsheet-filter,.k-pivot-toolbar .k-button,.k-fieldselector .k-list li.k-item,.k-dropdowntree .k-dropdown-wrap,.k-editor .k-editor-toolbar-wrap a.k-tool,.k-ct-popup .k-editor-toolbar a.k-tool,.editorToolbarWindow.k-header.k-window-content a.k-tool,.k-numerictextbox .k-select,.k-handle,.k-map .k-navigator,.k-gantt-views li,.k-scheduler-navigation .k-nav-today,.k-scheduler-navigation .k-nav-prev,.k-scheduler-navigation .k-nav-next,.k-scheduler-views li,.k-scheduler-footer li {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: linear-gradient(#f6f6f6,#f1f1f1)
}

.k-button:hover,.k-button.k-state-hover,.k-action-buttons .k-button:hover,.k-action-buttons .k-button.k-state-hover,.k-toolbar .k-split-button .k-button:hover,.k-toolbar .k-split-button .k-button.k-state-hover,.k-spreadsheet-filter:hover,.k-pivot-toolbar .k-button:hover,.k-pivot-toolbar .k-button.k-state-hover,.k-fieldselector .k-list li.k-item:hover,.k-fieldselector .k-list li.k-item.k-state-hover,.k-dropdowntree .k-dropdown-wrap:hover,.k-dropdowntree .k-dropdown-wrap.k-state-hover,.k-editor .k-editor-toolbar-wrap a.k-tool:hover,.k-editor .k-editor-toolbar-wrap a.k-tool.k-state-hover,.k-ct-popup .k-editor-toolbar a.k-tool:hover,.k-ct-popup .k-editor-toolbar a.k-tool.k-state-hover,.editorToolbarWindow.k-header.k-window-content a.k-tool:hover,.editorToolbarWindow.k-header.k-window-content a.k-tool.k-state-hover,.k-numerictextbox .k-select:hover,.k-numerictextbox .k-select>.k-state-selected,.k-numerictextbox .k-select>.k-state-active,.k-numerictextbox .k-state-hover .k-select,.k-handle:hover,.k-gantt-views li.k-state-hover,.k-scheduler-navigation .k-nav-today:hover,.k-scheduler-navigation .k-nav-prev:hover,.k-scheduler-navigation .k-nav-next:hover,.k-scheduler-views li:hover,.k-scheduler-footer li:hover {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8)
}

.k-button:active,.k-button.k-state-active,.k-split-button.k-button-group .k-button:active,.k-split-button.k-button-group .k-button.k-state-active,.k-action-buttons .k-button:active,.k-action-buttons .k-button.k-state-active,.k-toolbar .k-split-button .k-button:active,.k-toolbar .k-split-button .k-button.k-state-active,.k-spreadsheet-filter.k-state-active,.k-editor .k-editor-toolbar-wrap a.k-tool:active,.k-editor .k-editor-toolbar-wrap a.k-tool.k-state-active,.k-ct-popup .k-editor-toolbar a.k-tool:active,.k-ct-popup .k-editor-toolbar a.k-tool.k-state-active,.editorToolbarWindow.k-header.k-window-content a.k-tool:active,.editorToolbarWindow.k-header.k-window-content a.k-tool.k-state-active,.k-multiselect-wrap li.k-button:active,.k-multiselect-wrap li.k-button.k-state-active {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-button.k-primary,.k-slider .k-draghandle {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358;
  background-image: linear-gradient(rgba(255,138,88,0),rgba(255,138,88,0.2))
}

.k-button.k-primary:hover,.k-button.k-primary.k-state-hover,.k-action-buttons .k-primary:hover,.k-action-buttons .k-primary.k-state-hover,.k-slider .k-draghandle:hover {
  border-color: #ff6b58;
  color: #fff;
  background-color: #ff6b58;
  background-image: linear-gradient(rgba(255,146,88,0),rgba(255,146,88,0.2))
}

.k-button.k-state-selected,.k-button.k-primary:active,.k-button.k-primary.k-state-active,.k-button.k-primary.k-state-selected,.k-button-group .k-button:active,.k-button-group .k-button.k-state-active,.k-button-group .k-button.k-state-selected,.k-button-group>input[type="radio"]:checked+.k-button,.k-button-group>input[type="checkbox"]:checked+.k-button,.k-action-buttons .k-primary:active,.k-action-buttons .k-primary.k-state-active,.k-slider .k-draghandle:active,.k-slider .k-draghandle.k-pressed {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358;
  background-image: linear-gradient(rgba(255,138,88,0.2),rgba(255,138,88,0))
}
.k-autocomplete,.k-textbox,.k-textarea,.k-input.k-textbox,.k-multiselect-wrap,.k-numerictextbox .k-numeric-wrap {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff
}

.k-reset {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  text-decoration: none;
  font: inherit;
  list-style: none
}

.k-widget {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4285714286;
  display: block;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.k-link,.k-link:hover {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer
}

.k-content {
  outline: 0
}
.k-state-disabled,.k-widget[disabled] {
  outline: none;
  cursor: default;
  opacity: .6;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  pointer-events: none;
  box-shadow: none
}
.k-state-disabled .k-link,.k-state-disabled .k-button,.k-widget[disabled] .k-link,.k-widget[disabled] .k-button {
  cursor: default;
  outline: 0
}
.k-state-disabled [disabled],.k-state-disabled .k-state-disabled,.k-widget[disabled] [disabled],.k-widget[disabled] .k-state-disabled {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}

.k-reset {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  font: inherit;
  text-decoration: none;
  list-style: none
}

.k-animation-container {
  position: absolute;
  overflow: hidden;
  z-index: 100
}
.k-combobox,.k-dateinput,.k-datepicker,.k-datetimepicker,.k-dropdown,.k-multiselect,.k-numerictextbox,.k-maskedtextbox,.k-timepicker,.k-dropdowntree {
  width: 12.4em;
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: left;
  white-space: nowrap;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  position: relative
}
.k-combobox[dir="rtl"],.k-rtl .k-combobox,.k-dateinput[dir="rtl"],.k-rtl .k-dateinput,.k-datepicker[dir="rtl"],.k-rtl .k-datepicker,.k-datetimepicker[dir="rtl"],.k-rtl .k-datetimepicker,.k-dropdown[dir="rtl"],.k-rtl .k-dropdown,.k-multiselect[dir="rtl"],.k-rtl .k-multiselect,.k-numerictextbox[dir="rtl"],.k-rtl .k-numerictextbox,.k-maskedtextbox[dir="rtl"],.k-rtl .k-maskedtextbox,.k-timepicker[dir="rtl"],.k-rtl .k-timepicker,.k-dropdowntree[dir="rtl"],.k-rtl .k-dropdowntree {
  text-align: right
}
.k-combobox[dir="rtl"] .k-select,.k-rtl .k-combobox .k-select,.k-dateinput[dir="rtl"] .k-select,.k-rtl .k-dateinput .k-select,.k-datepicker[dir="rtl"] .k-select,.k-rtl .k-datepicker .k-select,.k-datetimepicker[dir="rtl"] .k-select,.k-rtl .k-datetimepicker .k-select,.k-dropdown[dir="rtl"] .k-select,.k-rtl .k-dropdown .k-select,.k-multiselect[dir="rtl"] .k-select,.k-rtl .k-multiselect .k-select,.k-numerictextbox[dir="rtl"] .k-select,.k-rtl .k-numerictextbox .k-select,.k-maskedtextbox[dir="rtl"] .k-select,.k-rtl .k-maskedtextbox .k-select,.k-timepicker[dir="rtl"] .k-select,.k-rtl .k-timepicker .k-select,.k-dropdowntree[dir="rtl"] .k-select,.k-rtl .k-dropdowntree .k-select {
  border-radius: 2px 0 0 2px
}
.k-combobox ::-ms-clear,.k-dateinput ::-ms-clear,.k-datepicker ::-ms-clear,.k-datetimepicker ::-ms-clear,.k-dropdown ::-ms-clear,.k-multiselect ::-ms-clear,.k-numerictextbox ::-ms-clear,.k-maskedtextbox ::-ms-clear,.k-timepicker ::-ms-clear,.k-dropdowntree ::-ms-clear {
  display: none
}
.k-combobox,.k-dateinput,.k-datepicker,.k-datetimepicker,.k-dropdown,.k-multiselect,.k-numerictextbox,.k-maskedtextbox,.k-timepicker,.k-dropdowntree {
  border-width: 0;
  background-color: transparent
}
.k-dateinput-wrap,.k-dropdown-wrap,.k-picker-wrap,.k-multiselect-wrap,.k-numeric-wrap {
  border-radius: 2px;
  padding: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
  transition: all .1s ease;
  cursor: default;
  outline: 0
}
.k-dateinput-wrap .k-input,.k-dropdown-wrap .k-input,.k-picker-wrap .k-input,.k-multiselect-wrap .k-input,.k-numeric-wrap .k-input {
  padding: 4px 8px;
  height: calc(8px + 1.4285714286em);
  box-sizing: border-box;
  border: 0;
  outline: 0;
  color: inherit;
  background: none;
  font: inherit;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis
}
.k-dateinput-wrap.k-invalid,.k-dateinput-wrap.k-invalid:hover,.k-dateinput-wrap.k-state-invalid,.k-dateinput-wrap.ng-invalid.ng-touched,.k-dateinput-wrap.ng-invalid.ng-dirty,.k-dropdown-wrap.k-invalid,.k-dropdown-wrap.k-invalid:hover,.k-dropdown-wrap.k-state-invalid,.k-dropdown-wrap.ng-invalid.ng-touched,.k-dropdown-wrap.ng-invalid.ng-dirty,.k-picker-wrap.k-invalid,.k-picker-wrap.k-invalid:hover,.k-picker-wrap.k-state-invalid,.k-picker-wrap.ng-invalid.ng-touched,.k-picker-wrap.ng-invalid.ng-dirty,.k-multiselect-wrap.k-invalid,.k-multiselect-wrap.k-invalid:hover,.k-multiselect-wrap.k-state-invalid,.k-multiselect-wrap.ng-invalid.ng-touched,.k-multiselect-wrap.ng-invalid.ng-dirty,.k-numeric-wrap.k-invalid,.k-numeric-wrap.k-invalid:hover,.k-numeric-wrap.k-state-invalid,.k-numeric-wrap.ng-invalid.ng-touched,.k-numeric-wrap.ng-invalid.ng-dirty {
  color: #f31700;
  border-color: rgba(243,23,0,0.5)
}
.k-dateinput-wrap,.k-dropdown-wrap,.k-picker-wrap,.k-numeric-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row
}
.k-dateinput-wrap .k-input,.k-dropdown-wrap .k-input,.k-picker-wrap .k-input,.k-numeric-wrap .k-input {
  width: 100%
}
.k-edge .k-dateinput-wrap .k-input,.k-edge .k-dropdown-wrap .k-input,.k-edge .k-picker-wrap .k-input,.k-edge .k-numeric-wrap .k-input {
  min-width: 0
}
.k-dateinput-wrap .k-select,.k-dropdown-wrap .k-select,.k-picker-wrap .k-select,.k-numeric-wrap .k-select {
  border-radius: 0 2px 2px 0;
  padding: 4px 4px;
  border-width: 0 0 0 1px;
  box-sizing: border-box;
  border-style: solid;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer
}

.k-dateinput .k-select,.k-numerictextbox .k-select {
  padding: 0;
  border-width: 0;
  width: calc(8px + 1.4285714286em);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch
}

.k-dateinput .k-link,.k-numerictextbox .k-link {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: block;
  overflow: hidden;
  position: relative
}

.k-dateinput .k-link .k-icon,.k-numerictextbox .k-link .k-icon {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%)
}

.k-dateinput .k-link-increase .k-icon,.k-numerictextbox .k-link-increase .k-icon {
  bottom: -2px
}

.k-dateinput .k-link-decrease .k-icon,.k-numerictextbox .k-link-decrease .k-icon {
  top: -2px
}

.k-widget.k-state-invalid.k-autocomplete,.k-widget.k-state-invalid.k-maskedtextbox>.k-textbox,.ng-invalid.ng-touched.k-autocomplete,.ng-invalid.ng-touched.k-maskedtextbox>.k-textbox,.ng-invalid.ng-dirty.k-autocomplete,.ng-invalid.ng-dirty.k-maskedtextbox>.k-textbox {
  color: #f31700;
  border-color: rgba(243,23,0,0.5)
}

.k-widget.k-state-invalid>.k-dateinput-wrap,.k-widget.k-state-invalid>.k-dropdown-wrap,.k-widget.k-state-invalid>.k-picker-wrap,.k-widget.k-state-invalid>.k-multiselect-wrap,.k-widget.k-state-invalid>.k-numeric-wrap,.ng-invalid.ng-touched>.k-dateinput-wrap,.ng-invalid.ng-touched>.k-dropdown-wrap,.ng-invalid.ng-touched>.k-picker-wrap,.ng-invalid.ng-touched>.k-multiselect-wrap,.ng-invalid.ng-touched>.k-numeric-wrap,.ng-invalid.ng-dirty>.k-dateinput-wrap,.ng-invalid.ng-dirty>.k-dropdown-wrap,.ng-invalid.ng-dirty>.k-picker-wrap,.ng-invalid.ng-dirty>.k-multiselect-wrap,.ng-invalid.ng-dirty>.k-numeric-wrap {
  color: #f31700;
  border-color: rgba(243,23,0,0.5)
}

.k-widget.form-control {
  padding: 0
}

.k-widget.form-control,.k-maskedtextbox.form-control .k-textbox,.k-textbox.form-control {
  width: 100%
}
.input-group .k-dateinput-wrap,.input-group .k-dropdown-wrap,.input-group .k-multiselect-wrap,.input-group .k-numeric-wrap,.input-group .k-picker-wrap,.input-group .k-maskedtextbox .k-textbox {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.input-group .k-dateinput-wrap .k-select,.input-group .k-dropdown-wrap .k-select,.input-group .k-multiselect-wrap .k-select,.input-group .k-numeric-wrap .k-select,.input-group .k-picker-wrap .k-select,.input-group .k-maskedtextbox .k-textbox .k-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.input-group .k-widget.form-control:not(:first-child):not(:last-child) .k-dateinput-wrap,.input-group .k-widget.form-control:not(:first-child):not(:last-child) .k-dropdown-wrap,.input-group .k-widget.form-control:not(:first-child):not(:last-child) .k-multiselect-wrap,.input-group .k-widget.form-control:not(:first-child):not(:last-child) .k-numeric-wrap,.input-group .k-widget.form-control:not(:first-child):not(:last-child) .k-picker-wrap,.input-group .k-widget.form-control:not(:first-child):not(:last-child)>.k-textbox {
  border-radius: 0
}
.input-group-prepend+.k-widget.form-control .k-dateinput-wrap,.input-group-prepend+.k-widget.form-control .k-dropdown-wrap,.input-group-prepend+.k-widget.form-control .k-multiselect-wrap,.input-group-prepend+.k-widget.form-control .k-numeric-wrap,.input-group-prepend+.k-widget.form-control .k-picker-wrap,.input-group-prepend+.k-widget.form-control>.k-textbox {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.k-widget.form-control .k-input {
  padding: .5rem .75rem;
  height: 2.25rem
}

.k-widget.form-control-sm .k-input {
  padding: .25rem .5rem;
  height: 1.8125rem
}

.k-widget.form-control-sm .k-dateinput-wrap .k-select,.k-widget.form-control-sm .k-dropdown-wrap .k-select,.k-widget.form-control-sm .k-picker-wrap .k-select {
  padding: .25rem
}

.k-widget.form-control-sm .k-select {
  width: 1.8125rem
}

.k-widget.form-control-lg .k-input {
  padding: .5rem 1rem;
  height: 2.875rem
}

.k-widget.form-control-lg .k-dateinput-wrap .k-select,.k-widget.form-control-lg .k-dropdown-wrap .k-select,.k-widget.form-control-lg .k-picker-wrap .k-select {
  padding: .5rem
}

.k-widget.form-control-lg .k-select {
  width: 2.875rem
}

.k-dateinput.form-control-sm .k-link-increase>.k-icon,.k-numerictextbox.form-control-sm .k-link-increase>.k-icon {
  bottom: -2px
}

.k-dateinput.form-control-sm .k-link-decrease>.k-icon,.k-numerictextbox.form-control-sm .k-link-decrease>.k-icon {
  top: -2px
}

.k-dateinput.form-control-sm .k-link,.k-numerictextbox.form-control-sm .k-link {
  height: .90625rem
}

.k-dateinput.form-control-lg .k-link,.k-numerictextbox.form-control-lg .k-link {
  height: 1.4375rem
}

.k-dateinput.form-control .k-dateinput-wrap .k-select {
  padding-top: 0;
  padding-bottom: 0
}

.k-widget .k-icon.k-i-expand,.k-widget .k-icon.k-i-collapse {
  cursor: pointer
}

.k-widget ::selection,.k-block ::selection,.k-panel ::selection {
  background-color: #ff6358;
  color: #fff
}

.k-primary .k-ripple-blob {
  opacity: .2
}

.k-popup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0 0;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.4285714286;
  box-sizing: content-box
}

.k-popup.k-colorpicker-popup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.k-popup .k-item {
  cursor: pointer;
  outline: none
}

.k-popup .k-rtl .k-list-optionlabel,[dir="rtl"] .k-popup .k-list-optionlabel {
  text-align: right
}

.k-animation-container {
  border-radius: 0 0 2px 2px
}

.k-animation-container-shown {
  overflow: visible
}

.k-popup .k-item.k-first {
  position: relative
}

.k-popup .k-outer-group-header {
  padding: 4px 8px;
  min-height: 1.4285714286em;
  white-space: normal
}

.k-popup .k-outer-group-header.k-virtual-item {
  white-space: nowrap;
  text-overflow: ellipsis
}

.k-popup .k-list .k-item>.k-group {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  font-size: 9.996px;
  line-height: 14px;
  text-transform: uppercase
}

.k-popup .k-list .k-item>.k-group::before {
  display: block;
  content: " ";
  border-width: 7px;
  border-style: solid;
  position: absolute;
  left: -14px;
  bottom: 0
}

.k-popup .k-list>.k-outer-group-header {
  border-top-width: 1px;
  border-top-style: solid
}

.k-popup.k-popup-transparent {
  border-width: 0;
  background-color: transparent
}

.k-popup.k-popup-flush {
  padding: 0
}

.k-popup {
  background-clip: padding-box
}
.k-popup>.k-group-header,.k-popup .k-outer-group-header.k-first,.k-popup>.k-virtual-wrap>.k-group-header {
  border-bottom-color: rgba(0,0,0,0.08);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.06)
}

.k-popup .k-outer-group-header {
  border-bottom-color: rgba(0,0,0,0.08)
}

.k-popup .k-list .k-item>.k-group {
  color: #fff;
  background: #656565
}

.k-popup .k-list .k-item>.k-group::before {
  border-color: #656565 #656565 transparent transparent
}

.k-animation-container {
  border-radius: 0 0 2px 2px
}

.k-animation-container-shown,.k-animation-container>.k-popup {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03),0 4px 5px 0 rgba(0,0,0,0.04)
}

.k-button {
  border-radius: 2px;
  padding: 4px 8px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.4285714286;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative
}

.k-button::-moz-focus-inner {
  padding: 0;
  border: 0;
  outline: 0
}

.k-button:hover,.k-button:focus {
  text-decoration: none;
  outline: 0
}

.k-button .k-icon,.k-button .k-image,.k-button .k-sprite {
  color: inherit;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative
}
.k-button-flat,.k-button.k-flat,.k-button.k-bare,.k-calendar-header .k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button {
  border-color: transparent !important;
  color: inherit;
  background: none !important;
  box-shadow: none !important;
  transition: color .2s ease-in-out
}
.k-button-flat:hover,.k-button.k-flat:hover,.k-button.k-bare:hover,.k-calendar-header .k-button:hover,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button:hover,.k-button-flat.k-state-hover,.k-state-hover.k-button.k-flat,.k-state-hover.k-button.k-bare,.k-calendar-header .k-state-hover.k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-state-hover.k-button,.k-button-flat:active,.k-button.k-flat:active,.k-button.k-bare:active,.k-calendar-header .k-button:active,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button:active,.k-button-flat.k-state-active,.k-state-active.k-button.k-flat,.k-state-active.k-button.k-bare,.k-calendar-header .k-state-active.k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-state-active.k-button,.k-button-flat:hover:active,.k-button.k-flat:hover:active,.k-button.k-bare:hover:active,.k-calendar-header .k-button:hover:active,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button:hover:active,.k-button-flat:hover.k-state-active,.k-button.k-flat:hover.k-state-active,.k-button.k-bare:hover.k-state-active,.k-calendar-header .k-button:hover.k-state-active,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button:hover.k-state-active {
  color: inherit
}
.k-button-flat::before,.k-button.k-flat::before,.k-button.k-bare::before,.k-calendar-header .k-button::before,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button::before {
  display: block
}

.k-button.k-outline {
  color: inherit;
  background: none;
  box-shadow: none
}
.k-button-overlay,.k-button::before,.k-toolbar .k-picker-wrap::before,.k-toolbar .k-dropdown-wrap::before {
  border-radius: inherit;
  content: "";
  background: currentColor;
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 0;
  transition: opacity .2s ease-in-out
}

.k-button:hover::before,.k-button.k-state-hover::before {
  opacity: .08
}

.k-button.k-no-focus:not(:hover)::before,.k-button.k-no-focus:not(.k-state-hover)::before {
  opacity: 0
}

.k-button:active::before,.k-button.k-state-active::before {
  opacity: .16
}

.k-button.k-state-selected::before {
  opacity: .2
}

.k-button::after {
  border-radius: 2px;
  content: "";
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 0;
  transition: opacity .2s ease-in-out
}

.k-button {
  background-clip: padding-box
}

.k-button:focus,.k-button.k-state-focused {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.06)
}

.k-button:active,.k-button.k-state-active {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-button.k-state-selected {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-button.k-primary:focus,.k-button.k-primary.k-state-focused {
  box-shadow: 0 3px 4px 0 rgba(255,99,88,0.4)
}

.k-button.k-primary:focus[disabled],[disabled] .k-button.k-primary:focus,.k-button.k-primary:focus.k-state-disabled,.k-button.k-primary.k-state-focused[disabled],[disabled] .k-button.k-primary.k-state-focused,.k-button.k-primary.k-state-focused.k-state-disabled {
  box-shadow: none
}

.k-button.k-primary:active,.k-button.k-primary.k-state-active {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-button.k-primary.k-state-selected {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-button.k-outline {
  border-color: currentColor;
  color: #656565;
  background: none;
  box-shadow: none
}

.k-button.k-outline:hover,.k-button.k-outline.k-state-hover {
  border-color: #656565;
  color: #fff;
  background-color: #656565;
  background-image: none
}

.k-button.k-outline:focus,.k-button.k-outline.k-state-focused {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.06)
}

.k-button.k-outline:active,.k-button.k-outline.k-state-active {
  border-color: #656565;
  color: #fff;
  background-color: #656565;
  background-image: none
}

.k-button.k-outline.k-state-selected {
  border-color: #656565;
  color: #fff;
  background-color: #656565;
  background-image: none
}

.k-button.k-primary.k-outline {
  border-color: currentColor;
  color: #ff6358;
  background: none;
  box-shadow: none
}

.k-button.k-primary.k-outline:hover,.k-button.k-primary.k-outline.k-state-hover {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358;
  background-image: none
}

.k-button.k-primary.k-outline:focus,.k-button.k-primary.k-outline.k-state-focused {
  box-shadow: 0 3px 4px 0 rgba(255,99,88,0.4)
}

.k-button.k-primary.k-outline:active,.k-button.k-primary.k-outline.k-state-active {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358;
  background-image: none;
  box-shadow: none
}

.k-button.k-primary.k-outline.k-state-selected {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358;
  background-image: none;
  box-shadow: none
}
.k-button-flat,.k-button.k-flat,.k-button.k-bare,.k-calendar-header .k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button,.k-button-group .k-button-flat,.k-button-group .k-button.k-flat,.k-button-group .k-button.k-bare,.k-button-group .k-calendar-header .k-button,.k-calendar-header .k-button-group .k-button,.k-button-group .k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button {
  color: inherit;
  background: none
}
.k-button-flat::after,.k-button.k-flat::after,.k-button.k-bare::after,.k-calendar-header .k-button::after,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button::after {
  display: block
}
.k-button-flat:focus::after,.k-button.k-flat:focus::after,.k-button.k-bare:focus::after,.k-calendar-header .k-button:focus::after,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button:focus::after,.k-button-flat.k-state-focused::after,.k-state-focused.k-button.k-flat::after,.k-state-focused.k-button.k-bare::after,.k-calendar-header .k-state-focused.k-button::after,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-state-focused.k-button::after {
  box-shadow: inset 0 0 0 2px currentColor;
  opacity: .12
}
.k-button-flat.k-primary,.k-primary.k-button.k-flat,.k-primary.k-button.k-bare,.k-calendar-header .k-primary.k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-primary.k-button,.k-button-flat.k-primary:hover,.k-primary.k-button.k-flat:hover,.k-primary.k-button.k-bare:hover,.k-calendar-header .k-primary.k-button:hover,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-primary.k-button:hover,.k-button-flat.k-primary.k-state-hover,.k-primary.k-state-hover.k-button.k-flat,.k-primary.k-state-hover.k-button.k-bare,.k-calendar-header .k-primary.k-state-hover.k-button,.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-primary.k-state-hover.k-button,.k-button-group .k-button-flat.k-primary,.k-button-group .k-primary.k-button.k-flat,.k-button-group .k-primary.k-button.k-bare,.k-button-group .k-calendar-header .k-primary.k-button,.k-calendar-header .k-button-group .k-primary.k-button,.k-button-group .k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-primary.k-button {
  color: #ff6358;
  background: none
}

.k-action-buttons {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  clear: both
}

.k-action-buttons .k-button {
  border-radius: 0;
  padding: 12px 16px;
  border-width: 0;
  border-color: inherit;
  color: inherit;
  background: none;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.k-action-buttons .k-button+.k-button {
  border-left-width: 1px
}

.k-action-buttons {
  border-color: rgba(0,0,0,0.08)
}

.k-action-buttons .k-button {
  color: inherit
}

.k-action-buttons .k-button:hover,.k-action-buttons .k-button.k-state-hover {
  border-color: inherit
}

.k-action-buttons .k-button:focus,.k-action-buttons .k-button.k-state-focused {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.13)
}

.k-action-buttons .k-button:active,.k-action-buttons .k-button.k-state-active {
  border-color: inherit
}

.k-action-buttons .k-primary {
  color: #ff6358
}

.k-action-buttons .k-primary:hover,.k-action-buttons .k-primary.k-state-hover {
  border-color: inherit
}

.k-action-buttons .k-primary:hover:focus,.k-action-buttons .k-primary:hover.k-state-focused,.k-action-buttons .k-primary.k-state-hover:focus,.k-action-buttons .k-primary.k-state-hover.k-state-focused {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.13)
}

.k-action-buttons .k-primary:focus,.k-action-buttons .k-primary.k-state-focused {
  box-shadow: inset 0 0 0 2px rgba(237,237,237,0.3)
}

.k-action-buttons .k-primary:active,.k-action-buttons .k-primary.k-state-active {
  border-color: inherit
}
.k-scheduler-mobile .k-time-text,.k-scheduler-mobile .k-time-period {
  display: block;
  line-height: 1
}
.k-scheduler-mobile .k-time-period {
  font-size: .7em
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #b9b9b9
}

.k-header.k-drag-clue {
  overflow: hidden
}
.k-grid-header,.k-header,.k-grid-header-wrap,.k-grouping-header,.k-grouping-header .k-group-indicator,.k-grid td,.k-grid-footer,.k-grid-footer-wrap,.k-grid-content-locked,.k-grid-footer-locked,.k-grid-header-locked,.k-filter-row>td,.k-filter-row>th {
  border-color: rgba(0,0,0,0.08)
}
.k-pivot-rowheaders .k-alt .k-alt,.k-header.k-alt {
  background-color: #ededed
}

.k-calendar {
  border-width: 1px;
  border-style: solid;
  line-height: 1.4285714286;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.k-popup .k-calendar {
  height: 100%
}

.k-calendar .k-link {
  outline: 0;
  color: inherit;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
  overflow: hidden
}

.k-calendar table {
  margin: 0;
  border-width: 0;
  border-color: inherit;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  outline: 0;
  position: relative;
  z-index: 1
}

.k-calendar td,.k-calendar th {
  border-width: 0;
  padding: 0;
  text-align: center;
  border-style: solid;
  border-color: inherit;
  font-weight: normal;
  cursor: default
}

.k-calendar th {
  padding: .25em 0;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  opacity: .6
}

.k-calendar tbody th {
  padding-left: 8px;
  padding-right: 8px;
  height: 2em;
  font: inherit;
  font-weight: bold;
  text-transform: none;
  text-align: left
}

.k-calendar .k-header {
  padding: 4px 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  z-index: 2
}

.k-calendar .k-header .k-link {
  border-radius: 2px;
  padding: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.k-calendar .k-nav-prev,.k-calendar .k-nav-next {
  width: 1.4285714286em;
  height: 1.4285714286em;
  box-sizing: content-box
}

.k-calendar .k-nav-fast {
  margin: 0 4px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.k-calendar-header {
  padding: 8px 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.k-calendar-header .k-title {
  font-weight: bold
}
.k-calendar-header .k-today {
  cursor: pointer
}
.k-calendar-header .k-calendar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}
.k-calendar>.k-calendar-header {
  min-width: 280px
}

.k-calendar .k-footer,.k-calendar .k-calendar-footer {
  text-align: center;
  clear: both
}

.k-calendar .k-nav-today,.k-calendar .k-footer>.k-state-disabled {
  padding: 8px 16px;
  display: block
}

.k-calendar .k-nav-today:hover {
  text-decoration: underline
}

.k-calendar .k-calendar-view {
  width: 17em;
  height: 17em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: auto
}

.k-calendar.k-week-number .k-calendar-view {
  width: 19.4285714286em
}
.k-calendar-infinite .k-calendar-view {
  width: 17em;
  height: 21.4285714286em
}

.k-calendar .k-content,.k-calendar .k-calendar-content {
  margin: 0;
  text-align: center;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative
}

.k-calendar .k-content>table,.k-calendar .k-calendar-content>table {
  table-layout: auto
}

.k-calendar .k-content td,.k-calendar .k-calendar-content td {
  border-radius: 2px;
  border-color: transparent
}

.k-calendar .k-content .k-link,.k-calendar .k-calendar-content .k-link {
  border-radius: 2px;
  padding: .5em .5em;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.k-calendar .k-content .k-weekend,.k-calendar .k-calendar-content .k-weekend {
  border-radius: 0;
  opacity: 1
}

.k-calendar .k-content .k-alt,.k-calendar .k-calendar-content .k-alt {
  opacity: .6
}

.k-calendar .k-content .k-other-month .k-link,.k-calendar .k-calendar-content .k-other-month .k-link {
  opacity: .6
}

.k-calendar .k-content .k-state-disabled,.k-calendar .k-calendar-content .k-state-disabled {
  opacity: .6
}

.k-calendar table.k-content {
  display: inline-table;
  vertical-align: top
}

.k-calendar .k-month td,.k-calendar .k-calendar-monthview td {
  width: 2.4285714286em;
  height: 2.4285714286em
}

.k-calendar .k-month .k-link,.k-calendar .k-calendar-monthview .k-link {
  width: 2.4285714286em;
  height: 2.4285714286em
}

.k-calendar .k-year td,.k-calendar .k-calendar-yearview td {
  width: auto;
  height: auto
}

.k-calendar .k-year .k-link,.k-calendar .k-calendar-yearview .k-link {
  width: 4.25em;
  height: 4.25em
}

.k-calendar .k-decade td,.k-calendar .k-calendar-decadeview td {
  width: auto;
  height: auto
}

.k-calendar .k-decade .k-link,.k-calendar .k-calendar-decadeview .k-link {
  width: 4.25em;
  height: 4.25em
}

.k-calendar .k-century td,.k-calendar .k-calendar-centuryview td {
  width: auto;
  height: auto
}

.k-calendar .k-century .k-link,.k-calendar .k-calendar-centuryview .k-link {
  width: 4.25em;
  height: 4.25em;
  text-align: left
}
.k-calendar-infinite {
  box-sizing: content-box;
  width: auto;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: bottom
}
.k-calendar-infinite .k-calendar-view,.k-calendar-infinite .k-calendar-monthview {
  padding: 0 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  box-sizing: content-box
}
.k-calendar-infinite .k-calendar-view::after,.k-calendar-infinite .k-calendar-monthview::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: " ";
  height: 0;
  line-height: 0;
  z-index: 1;
  width: 150%;
  left: -25%;
  box-shadow: 0 0 2.4285714286em 1.2142857143em #fff
}
.k-calendar-infinite .k-calendar-header {
  margin-left: -16px;
  margin-right: -16px
}
.k-calendar-infinite .k-calendar-weekdays {
  width: 100%;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.k-calendar-infinite .k-calendar-yearview .k-content td,.k-calendar-infinite .k-calendar-decadeview .k-content td,.k-calendar-infinite .k-calendar-centuryview .k-content td {
  width: auto;
  height: auto
}
.k-calendar-infinite .k-calendar-yearview .k-content .k-link,.k-calendar-infinite .k-calendar-yearview .k-content td.k-empty,.k-calendar-infinite .k-calendar-decadeview .k-content .k-link,.k-calendar-infinite .k-calendar-decadeview .k-content td.k-empty,.k-calendar-infinite .k-calendar-centuryview .k-content .k-link,.k-calendar-infinite .k-calendar-centuryview .k-content td.k-empty {
  width: 3.4em;
  height: 3.4em
}
.k-calendar-container,.k-datetime-container {
  padding: 0
}
.k-calendar-container .k-calendar,.k-datetime-container .k-calendar {
  border-width: 0
}

.k-calendar .k-content.k-scrollable {
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: -100px;
  margin-right: -100px;
  margin-right: -117px
}

.k-calendar .k-scrollable-placeholder {
  position: absolute;
  z-index: -1;
  width: 1px;
  top: 0;
  right: 0
}
.k-calendar-navigation {
  position: relative;
  display: block;
  overflow: hidden;
  width: 5em;
  z-index: 2
}
.k-calendar-navigation::before,.k-calendar-navigation::after {
  display: block;
  position: absolute;
  content: " ";
  height: 0;
  line-height: 0;
  z-index: 1;
  width: 200%;
  left: -50%;
  box-shadow: 0 0 6em 3em #f6f6f6
}
.k-calendar-navigation::before {
  top: 0
}
.k-calendar-navigation::after {
  bottom: 0
}
.k-calendar-navigation .k-content {
  background: transparent;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}
.k-calendar-navigation .k-content ul {
  width: 5em
}
.k-calendar-navigation .k-content li {
  height: 2em;
  line-height: 2em;
  cursor: pointer;
  padding: 0 1em
}
.k-calendar-navigation .k-calendar-navigation-marker {
  font-weight: bold
}
.k-calendar-navigation .k-calendar-navigation-highlight {
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  height: 2em;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.k-calendar.k-calendar-range {
  width: auto
}

.k-calendar.k-calendar-range .k-calendar-view {
  height: auto;
  min-height: 17em;
  width: auto;
  white-space: nowrap
}

.k-calendar.k-calendar-range .k-calendar-view::after {
  display: none
}

.k-calendar.k-calendar-range table {
  width: auto
}

.k-calendar.k-calendar-range table.k-content {
  padding: 0 16px
}

.k-calendar.k-calendar-range table.k-meta-view {
  margin: 0 -1px
}

.k-calendar.k-calendar-range .k-meta-header,.k-calendar.k-calendar-range .k-month-header {
  margin: 0 16px;
  padding: .25em 8px;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  opacity: .6;
  cursor: default
}

.k-calendar.k-calendar-range .k-range-start {
  border-color: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.k-calendar.k-calendar-range .k-range-end {
  border-color: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.k-calendar.k-calendar-range .k-range-mid {
  border-color: inherit;
  border-radius: 0
}

.k-calendar.k-calendar-range:not(.k-calendar-infinite) .k-calendar-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row
}
.k-animation-container-sm .k-calendar.k-calendar-range:not(.k-calendar-infinite) .k-calendar-view {
  -ms-flex-direction: column;
  flex-direction: column
}

.k-calendar.k-calendar-range.k-calendar-infinite table {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row
}

.k-calendar.k-calendar-range.k-calendar-infinite table>tbody {
  display: inline-block;
  vertical-align: top
}

.k-calendar.k-calendar-range.k-calendar-infinite table>tbody+tbody {
  margin-left: 32px
}

.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-button {
  border-radius: 0;
  width: 44px
}

.k-calendar.k-calendar-range.k-calendar-infinite:not(.k-calendar-minimal)>.k-calendar-view {
  border-width: 0 1px;
  border-style: solid;
  border-color: inherit
}

.k-widget.k-daterangepicker {
  border: 0
}
.k-rtl .k-calendar .k-nav-prev,.k-rtl .k-calendar .k-nav-next,.k-rtl .k-calendar .k-prev-view,.k-rtl .k-calendar .k-next-view,.k-calendar[dir="rtl"] .k-nav-prev,.k-calendar[dir="rtl"] .k-nav-next,.k-calendar[dir="rtl"] .k-prev-view,.k-calendar[dir="rtl"] .k-next-view {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
.k-rtl .k-calendar .k-content.k-scrollable,.k-calendar[dir="rtl"] .k-content.k-scrollable {
  padding-right: 100px;
  padding-left: 100px;
  margin-left: -100px;
  margin-right: -100px;
  margin-left: -117px
}
.k-rtl .k-calendar tbody th,.k-calendar[dir="rtl"] tbody th {
  text-align: right
}

.k-calendar {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff;
  background-clip: padding-box
}

.k-calendar .k-header {
  border-color: inherit;
  color: #656565;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1)
}

.k-calendar .k-nav-prev:hover,.k-calendar .k-nav-prev.k-state-hover,.k-calendar .k-nav-next:hover,.k-calendar .k-nav-next.k-state-hover,.k-calendar .k-nav-fast:hover,.k-calendar .k-nav-fast.k-state-hover {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8)
}

.k-calendar .k-nav-prev:active,.k-calendar .k-nav-prev.k-state-active,.k-calendar .k-nav-next:active,.k-calendar .k-nav-next.k-state-active,.k-calendar .k-nav-fast:active,.k-calendar .k-nav-fast.k-state-active {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06)
}

.k-calendar .k-footer .k-nav-today,.k-calendar .k-calendar-header .k-today {
  color: #ff6358
}

.k-calendar .k-footer .k-nav-today:hover,.k-calendar .k-footer .k-nav-today:focus,.k-calendar .k-calendar-header .k-today:hover,.k-calendar .k-calendar-header .k-today:focus {
  color: #e76057
}

.k-calendar .k-content .k-today {
  color: #ff6358
}

.k-calendar .k-weekend {
  color: inherit;
  background-color: rgba(0,0,0,0)
}

.k-calendar .k-alt {
  background-color: rgba(0,0,0,0)
}

.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden
}

.k-calendar .k-state-hover .k-link {
  border-color: #ededed;
  color: #656565;
  background-color: #ededed
}

.k-calendar .k-state-selected .k-link {
  border-color: #ff6358;
  color: #fff;
  background-color: #ff6358
}

.k-calendar .k-state-selected.k-state-hover .k-link {
  background-color: #eb5b51
}

.k-calendar .k-state-focused .k-link {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.13)
}

.k-calendar .k-state-selected.k-state-focused .k-link {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.13)
}

.k-calendar .k-calendar-navigation {
  color: #656565;
  background-color: #f6f6f6;
  box-shadow: inset -1px 0 rgba(0,0,0,0.08)
}

.k-calendar .k-calendar-navigation li:hover {
  color: #e76057
}

.k-calendar .k-calendar-navigation-highlight {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff
}

.k-calendar[dir="rtl"] .k-calendar-navigation,.k-rtl .k-calendar .k-calendar-navigation {
  box-shadow: inset 1px 0 rgba(0,0,0,0.08)
}

.k-calendar.k-calendar-range .k-range-start,.k-calendar.k-calendar-range .k-range-end,.k-calendar.k-calendar-range .k-range-mid {
  background-image: linear-gradient(transparent 1px, rgba(255,99,88,0.25) 1px, rgba(255,99,88,0.25) calc(100% - 1px), transparent calc(100% - 1px))
}
.k-ie .k-calendar.k-calendar-range .k-range-start,.k-edge .k-calendar.k-calendar-range .k-range-start,.k-ie .k-calendar.k-calendar-range .k-range-end,.k-edge .k-calendar.k-calendar-range .k-range-end,.k-ie .k-calendar.k-calendar-range .k-range-mid,.k-edge .k-calendar.k-calendar-range .k-range-mid {
  background-image: none;
  background-color: rgba(255,99,88,0.25)
}

.k-calendar.k-calendar-range .k-range-start.k-range-end {
  background-image: none;
  background-color: transparent
}

.k-calendar.k-calendar-range .k-range-start .k-link,.k-calendar.k-calendar-range .k-range-end .k-link {
  background-color: #ff6358
}

.k-calendar.k-calendar-range .k-range-start.k-state-active .k-link,.k-calendar.k-calendar-range .k-range-end.k-state-active .k-link {
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.2)
}

.k-calendar.k-calendar-range .k-range-split-start,.k-calendar.k-calendar-range .k-range-split-end {
  position: relative
}

.k-calendar.k-calendar-range .k-range-split-start::after,.k-calendar.k-calendar-range .k-range-split-end::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 5px
}

.k-calendar.k-calendar-range .k-range-split-start::after {
  left: -5px;
  right: auto;
  background-image: linear-gradient(to left, rgba(255,99,88,0.25), transparent 100%)
}

.k-calendar.k-calendar-range .k-range-split-end::after {
  right: -5px;
  left: auto;
  background-image: linear-gradient(to right, rgba(255,99,88,0.25), transparent 100%)
}
.k-datepicker .k-i-warning,.k-datetimepicker .k-i-warning,.k-timepicker .k-i-warning {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: visible
}
.k-datepicker .k-state-invalid .k-i-warning,.k-datetimepicker .k-state-invalid .k-i-warning,.k-timepicker .k-state-invalid .k-i-warning {
  display: inline-block
}
.k-datepicker .k-dateinput,.k-datetimepicker .k-dateinput,.k-timepicker .k-dateinput {
  width: 100%;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0
}
.k-datepicker .k-dateinput-wrap,.k-datetimepicker .k-dateinput-wrap,.k-timepicker .k-dateinput-wrap {
  border: 0;
  border-radius: 2px 0 0 2px
}
.k-rtl .k-datepicker .k-i-warning,.k-datepicker[dir="rtl"] .k-i-warning,.k-rtl .k-datetimepicker .k-i-warning,.k-datetimepicker[dir="rtl"] .k-i-warning,.k-rtl .k-timepicker .k-i-warning,.k-timepicker[dir="rtl"] .k-i-warning {
  right: auto
}
.k-datepicker .k-i-warning,.k-timepicker .k-i-warning {
  right: calc(12px + 1.4285714286em)
}
.k-rtl .k-datepicker .k-i-warning,.k-datepicker[dir="rtl"] .k-i-warning,.k-rtl .k-timepicker .k-i-warning,.k-timepicker[dir="rtl"] .k-i-warning {
  left: calc(12px + 1.4285714286em)
}
.k-datetime-container .k-time-list-container {
  -ms-flex-pack: center;
  justify-content: center
}
.k-datetime-container .k-time-tab .k-datetime-selector {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%)
}

.k-dateinput {
  position: relative;
  border-width: 0
}

.k-dateinput .k-i-warning {
  display: none;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: visible
}

.k-dateinput.k-state-invalid .k-i-warning {
  display: inline-block
}
.k-rtl .k-dateinput .k-i-warning,.k-dateinput[dir="rtl"] .k-i-warning {
  left: 8px;
  right: auto
}
.k-time-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 16px;
  line-height: 2em
}
.k-time-header .k-time-now {
  border-width: 0;
  background: transparent;
  line-height: inherit
}
.k-time-list-wrapper {
  display: inline-block;
  overflow: hidden;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 20px 0;
  text-align: center;
  width: 5em;
  height: 200px
}
.k-time-list-wrapper .k-title {
  display: block;
  text-align: center;
  font-size: 10px;
  position: absolute;
  text-transform: capitalize;
  font-weight: bold;
  min-width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  margin-top: -20px;
  background: transparent
}
.k-time-list-wrapper.k-state-focused::before,.k-time-list-wrapper.k-state-focused::after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  left: 0;
  pointer-events: none;
  height: calc(50% - 1em);
  box-sizing: border-box;
  border-style: solid
}
.k-time-list-wrapper.k-state-focused::before {
  top: 0;
  border-width: 2px 2px 0
}
.k-time-list-wrapper.k-state-focused::after {
  bottom: 0;
  border-width: 0 2px 2px
}
.k-time-container {
  position: absolute;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.4285714286;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: -100px;
  margin-right: -100px;
  margin-right: -117px
}
.k-time-container>ul {
  height: auto;
  width: 5em
}
.k-time-list-container {
  display: -ms-flexbox;
  display: flex;
  position: relative
}
.k-time-list {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  outline: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0
}
.k-time-list::before,.k-time-list::after {
  display: block;
  position: absolute;
  content: " ";
  height: 0;
  line-height: 0;
  z-index: 1;
  width: 200%;
  left: -50%
}
.k-time-list::before {
  top: 0
}
.k-time-list::after {
  bottom: 0
}
.k-time-list .k-item {
  padding: 4px 8px;
  min-height: calc(1.43em + 2px);
  line-height: calc(1.43em + 2px)
}
.k-time-highlight {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: calc(8px + 1.4285714286em);
  z-index: 1;
  border-width: 1px 0;
  border-style: solid;
  border-radius: .1px
}
.k-time-container .k-scrollable-placeholder {
  position: absolute;
  width: 1px;
  top: 0;
  right: 0
}
.k-time-separator {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  z-index: 11
}
.k-datepicker .k-picker-wrap,.k-timepicker .k-picker-wrap,.k-datetimepicker .k-picker-wrap {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff;
  background-clip: padding-box
}
.k-datepicker .k-select,.k-timepicker .k-select,.k-datetimepicker .k-select {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: linear-gradient(#f6f6f6,#f1f1f1);
  padding: 0;
  width: calc(8px + 1.4285714286em);
  border-width: 0
}
.k-datepicker:hover,.k-datepicker .k-state-hover,.k-timepicker:hover,.k-timepicker .k-state-hover,.k-datetimepicker:hover,.k-datetimepicker .k-state-hover {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #fff
}
.k-datepicker:hover .k-select,.k-datepicker .k-state-hover .k-select,.k-timepicker:hover .k-select,.k-timepicker .k-state-hover .k-select,.k-datetimepicker:hover .k-select,.k-datetimepicker .k-state-hover .k-select {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8);
  border-color: inherit
}
.k-datepicker .k-state-focused,.k-datepicker .k-state-active,.k-timepicker .k-state-focused,.k-timepicker .k-state-active,.k-datetimepicker .k-state-focused,.k-datetimepicker .k-state-active {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03),0 4px 5px 0 rgba(0,0,0,0.04)
}
.k-datepicker .k-state-focused .k-select,.k-datepicker .k-state-active .k-select,.k-timepicker .k-state-focused .k-select,.k-timepicker .k-state-active .k-select,.k-datetimepicker .k-state-focused .k-select,.k-datetimepicker .k-state-active .k-select {
  border-color: inherit
}
.k-datepicker .k-picker-wrap.k-state-invalid,.k-datetimepicker .k-picker-wrap.k-state-invalid,.k-timepicker .k-picker-wrap.k-state-invalid {
  transition: none;
  border-color: #f31700
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input,.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #f31700
}
.k-datepicker .k-picker-wrap.k-invalid,.k-datetimepicker .k-picker-wrap.k-invalid,.k-timepicker .k-picker-wrap.k-invalid {
  color: #f31700;
  border-color: rgba(243,23,0,0.5)
}
.k-datepicker .k-i-warning,.k-datetimepicker .k-i-warning,.k-timepicker .k-i-warning {
  color: #f31700
}
.k-time-header .k-title {
  font-weight: bold
}
.k-time-header .k-time-now {
  color: #ff6358;
  cursor: pointer
}
.k-time-header .k-time-now:hover,.k-time-header .k-time-now:focus {
  color: #e76057
}
.k-time-list-wrapper {
  background-color: #f9f9f9
}
.k-time-list-wrapper .k-title {
  z-index: 12;
  background: #f9f9f9;
  opacity: .6
}
.k-time-list-wrapper.k-state-focused .k-title {
  color: #000;
  opacity: 1
}
.k-time-list-wrapper.k-state-focused::before,.k-time-list-wrapper.k-state-focused::after {
  background-color: rgba(0,0,0,0.04);
  border-width: 0
}
.k-time-list::before,.k-time-list::after {
  box-shadow: 0 0 3em 1.5em #f9f9f9
}
.k-time-list .k-item:hover {
  color: #ff6358
}
.k-time-container {
  background: transparent
}
.k-time-highlight {
  background-color: #fff;
  border-color: rgba(0,0,0,0.08)
}

.k-dateinput .k-dateinput-wrap {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #fff;
  background-clip: padding-box
}
.k-ie11 .k-dateinput .k-dateinput-wrap,.k-edge12 .k-dateinput .k-dateinput-wrap,.k-edge13 .k-dateinput .k-dateinput-wrap {
  background-clip: border-box
}

.k-dateinput .k-select {
  border-color: rgba(0,0,0,0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: linear-gradient(#f6f6f6,#f1f1f1);
  padding: 0;
  width: calc(8px + 1.4285714286em);
  border-width: 0
}

.k-dateinput .k-select:hover {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8)
}

.k-dateinput .k-select>.k-state-selected,.k-dateinput .k-select>.k-state-active {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8);
  color: #252525;
  box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.06)
}

.k-dateinput .k-state-hover {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #fff
}

.k-dateinput .k-state-hover .k-select {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #ededed;
  background-image: linear-gradient(#ededed,#e8e8e8)
}

.k-dateinput .k-state-focused {
  border-color: rgba(0,0,0,0.15);
  color: #656565;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03),0 4px 5px 0 rgba(0,0,0,0.04)
}

.k-dateinput.k-state-invalid .k-textbox {
  color: #f31700;
  border-color: #f31700
}

.k-dateinput.k-state-invalid .k-i-warning {
  color: #f31700
}
.k-textbox,.k-input.k-textbox,.k-textarea {
  border-radius: 2px;
  padding: 4px 8px;
  width: 12.4em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font: inherit;
  font-size: 14px;
  line-height: 1.4285714286;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none
}
.k-textbox:disabled,.k-textbox[disabled],.k-textbox.k-state-disabled,.k-input.k-textbox:disabled,.k-input.k-textbox[disabled],.k-input.k-textbox.k-state-disabled,.k-textarea:disabled,.k-textarea[disabled],.k-textarea.k-state-disabled {
  outline: none;
  cursor: default;
  opacity: .6;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  pointer-events: none;
  box-shadow: none
}
.k-textbox,.k-input.k-textbox {
  height: calc(10px + 1.4285714286em)
}

.k-input,.k-textbox>input {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  color: inherit;
  background: none;
  font: inherit;
  font-size: 14px;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none
}

.k-input::-ms-clear,.k-textbox>input::-ms-clear,.k-textbox::-ms-clear {
  display: none
}
.k-textbox,.k-textarea,.k-input.k-textbox {
  background-clip: padding-box
}
.k-textbox:hover,.k-textbox.k-state-hover,.k-textarea:hover,.k-textarea.k-state-hover,.k-input.k-textbox:hover,.k-input.k-textbox.k-state-hover {
  border-color: rgba(0,0,0,0.15)
}
.k-textbox:focus,.k-textbox.k-state-focus,.k-textarea:focus,.k-textarea.k-state-focus,.k-input.k-textbox:focus,.k-input.k-textbox.k-state-focus {
  color: #656565;
  border-color: rgba(0,0,0,0.15)
}
.k-textbox.k-invalid,.k-textbox.k-state-invalid,.k-textbox.ng-invalid.ng-touched,.k-textbox.ng-invalid.ng-dirty,.k-textarea.k-invalid,.k-textarea.k-state-invalid,.k-textarea.ng-invalid.ng-touched,.k-textarea.ng-invalid.ng-dirty,.k-input.k-textbox.k-invalid,.k-input.k-textbox.k-state-invalid,.k-input.k-textbox.ng-invalid.ng-touched,.k-input.k-textbox.ng-invalid.ng-dirty {
  color: #f31700;
  border-color: rgba(243,23,0,0.5)
}
.k-textbox::selection,.k-textarea::selection,.k-input.k-textbox::selection {
  background-color: #ff6358;
  color: #fff
}
.k-textbox::selection,.k-input::selection,.k-textarea::selection {
  background-color: #ff6358;
  color: #fff
}
.k-textbox::-webkit-input-placeholder,.k-input::-webkit-input-placeholder,.k-input.k-textbox::-webkit-input-placeholder,.k-textarea::-webkit-input-placeholder {
  color: rgba(101,101,101,0.5)
}
.k-textbox:-ms-input-placeholder,.k-input:-ms-input-placeholder,.k-input.k-textbox:-ms-input-placeholder,.k-textarea:-ms-input-placeholder {
  color: rgba(101,101,101,0.5)
}
.k-textbox::-ms-input-placeholder,.k-input::-ms-input-placeholder,.k-input.k-textbox::-ms-input-placeholder,.k-textarea::-ms-input-placeholder {
  color: rgba(101,101,101,0.5)
}
.k-textbox::placeholder,.k-input::placeholder,.k-input.k-textbox::placeholder,.k-textarea::placeholder {
  color: rgba(101,101,101,0.5)
}

.k-popup.k-align .k-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.k-popup.k-align .k-list .k-item {
  padding: 4px;
  height: calc(10px + 1.4285714286em);
  box-sizing: border-box;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%
}

.k-popup.k-align .k-list .k-item .k-icon {
  margin: 0
}

.k-popup.k-align .k-list .k-item:last-child {
  -ms-flex: 1 0 100%;
  flex: 1 0 100%
}

.k-item {
  cursor: default
}

.k-item.k-drag-clue {
  border-radius: 0;
  padding: 4px 8px;
  line-height: 1.4285714286em;
  border-width: 0;
  font-size: 14px
}

.k-animation-container .k-context-menu.k-menu-horizontal {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.k-button .k-badge {
  margin-left: 4px;
  position: relative;
  z-index: 5
}
